@import "../../style/variables";

.poster {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__img {
    height: 100%;
    max-width: none;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .poster {
    width: 100%;
    height: auto;
    padding: 16px;

    &__img {
      width: 100%;
      height: auto;
    }

  }
}
