.link-list {
  list-style-type: none;

  &__li {
    border-bottom: 1px solid #ccc;
  }

  &__link {
    display: block;
    padding: 10px 0 10px 5px;

    &:hover {
      background-color: #333;
      color: #fff;
    }
  }
}
