@import "../../style/variables";

h1, h2 {
  color: #333333;
}

h2 {
  margin: 20px 0 10px;
}

@media screen and (min-width: $breakpoint-medium) {
  .detail {
    display: flex;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  .poster-container {
    width: 40%;
  }

}
