.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

  header {
    background-color: #000;
    color: #fff;
  }

  main {
    flex: 2;
    overflow: hidden auto;
  }

  footer {
    height: 30px;
    background-color: #000;
  }


}
