* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  color: #666;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  padding: 16px;

  &--centered {
    display: flex;
    justify-content: center;
  }
}
